.chart-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #5e7ff4;
  padding: 10px 20px; /* Adjusted padding for better spacing */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Increased margin for spacing */
  font-family: "Arial", sans-serif;
  margin-top: 20px; /* Reduced top margin for better alignment */
  width: 100%; /* Make the header take up full width */
  margin-top: 40px;
  margin-left: -19px;
  margin-right: 0px;
  min-width: 710px;
}

.chart-header label {
  margin-right: 10px;
  font-weight: bold;
  color: #ffffff;
}

.chart-header select {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  transition: border-color 0.3s;
  margin-left: 10px; /* Removed the negative margin */
}

.chart-header select:focus {
  outline: none;
  border-color: #0e6590;
}


#map-container {
  width: 100%;
  height: 100%;
  margin-bottom: 80px;
}

.info.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 24px;
}

.info.legend div {
  display: flex;
  align-items: center;
}

.info.legend i {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  opacity: 0.7;
  flex-shrink: 0;
}

.main-content{
  padding-bottom: 800px;
}

.data-cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 40px;
  z-index: 1;
}

.data-card {
  background: #b1f7ff;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 10px;
  font-size: 12px;
}

.data-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #3d5096;
}

.data-card p {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
}


